 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 318px;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  font-weight: normal;
  margin: 0 56px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 202px;
  }

  .u-section-1 .u-text-1 {
    width: 680px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 549px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 456px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    font-weight: 300;
    margin: -51px 0 60px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 582px;
}

.u-section-2 .u-list-1 {
  margin-top: -112px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  min-height: 522px;
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  grid-gap: 0px 0px;
}

.u-section-2 .u-container-layout-1 {
  padding: 10px 0;
}

.u-section-2 .u-image-1 {
  width: 432px;
  height: 502px;
  margin: 0 -26px;
}

.u-section-2 .u-container-layout-2 {
  padding: 10px 0;
}

.u-section-2 .u-image-2 {
  width: 432px;
  height: 502px;
  margin: 0 -26px;
}

.u-section-2 .u-container-layout-3 {
  padding: 10px 0;
}

.u-section-2 .u-image-3 {
  width: 432px;
  height: 502px;
  margin: 0 -26px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    margin-top: 0;
    margin-bottom: 30px;
  }

  .u-section-2 .u-image-1 {
    width: 312px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2 .u-image-2 {
    width: 312px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2 .u-image-3 {
    width: 312px;
    object-position: 50% 10.38%;
    margin-right: 0;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    min-height: 1156px;
    grid-template-columns: 50% 50%;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-image-1 {
    width: 528px;
  }

  .u-section-2 .u-image-2 {
    width: 528px;
  }

  .u-section-2 .u-image-3 {
    width: 528px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1599px;
  }

  .u-section-2 .u-list-1 {
    margin-top: -136px;
    margin-bottom: 60px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 1569px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-image-1 {
    height: 513px;
    margin-bottom: -3px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-image-2 {
    height: 513px;
    margin-bottom: -3px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-image-3 {
    height: 513px;
    margin-bottom: -3px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}