.u-section-1 .u-sheet-1 {
  min-height: 659px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 0 51px;
}

.u-section-1 .u-image-1 {
  width: 185px;
  height: 185px;
  margin: 105px auto 0 100px;
}

.u-section-1 .u-image-2 {
  width: 570px;
  height: 428px;
  margin: -306px auto 0;
}

.u-section-1 .u-image-3 {
  width: 219px;
  height: 219px;
  margin: -323px 69px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    font-family: Lato, sans-serif;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 607px;
  }

  .u-section-1 .u-image-2 {
    width: 540px;
    height: 405px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -300px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 420px;
  }

  .u-section-1 .u-image-1 {
    width: 58px;
    height: 58px;
    margin-top: 53px;
    margin-right: 16px;
    margin-left: auto;
  }

  .u-section-1 .u-image-2 {
    height: 127px;
    width: 169px;
    margin-top: -94px;
  }

  .u-section-1 .u-image-3 {
    width: 63px;
    height: 63px;
    margin-top: -96px;
    margin-right: auto;
    margin-left: 26px;
  }
}