.u-section-1 .u-sheet-1 {
  min-height: 727px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-family: Lato, sans-serif;
  margin: 0 51px;
}

.u-section-1 .u-image-1 {
  width: 185px;
  height: 185px;
  margin: 105px auto 0 100px;
}

.u-section-1 .u-image-2 {
  width: 570px;
  height: 428px;
  margin: -306px auto 0;
}

.u-section-1 .u-image-3 {
  width: 202px;
  height: 202px;
  margin: -315px 83px 0 auto;
}

.u-section-1 .u-image-4 {
  width: 218px;
  height: 218px;
  margin: 8px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
  font-weight: 700;
  font-size: 3rem;
  margin: 23px auto 60px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 704px;
  }

  .u-section-1 .u-image-2 {
    width: 540px;
    height: 405px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 401px;
  }

  .u-section-1 .u-image-1 {
    width: 58px;
    height: 58px;
    margin-top: 53px;
    margin-right: 16px;
    margin-left: auto;
  }

  .u-section-1 .u-image-2 {
    height: 127px;
    width: 169px;
    margin-top: -94px;
  }

  .u-section-1 .u-image-3 {
    width: 63px;
    height: 63px;
    margin-top: -96px;
    margin-right: auto;
    margin-left: 26px;
  }

  .u-section-1 .u-image-4 {
    width: 71px;
    height: 71px;
    margin-top: 45px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 1.875rem;
    margin-top: 18px;
    margin-bottom: 53px;
  }
}